---

# after newline is ones i wish to enable eventually
# (can't put comment in yaml string!)
# -clang-analyzer-optin.core.EnumCastOutOfRange does not understand FLAG_ENUM

Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-macro-to-enum,
  -clang-diagnostic-unsafe-buffer-usage,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-suspicious-call-argument,
  -readability-function-size,
  -readability-avoid-nested-conditional-operator,
  -misc-no-recursion,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-assignment-in-if-condition,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,

  -misc-static-assert,
  -performance-no-int-to-ptr,
  -clang-analyzer-optin.performance.Padding,
  -misc-unused-parameters,
  -cppcoreguidelines-interfaces-global-init,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-deadcode.DeadStores,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-avoid-const-params-in-decls,
  -misc-include-cleaner,
  -clang-analyzer-core.NullDereference,

HeaderFilterRegex: '.*'
