# Flags for .h files
If:
  PathMatch: .*\.h

CompileFlags:
  Add: [-xc-header]

---

# Flags for .c files
If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-xc]

---

If:
  PathMatch: tests.*
Index:
  Background: Skip

---

# Inlays not playing nicely with macros
If:
  PathMatch: [src/lsp/lsp.c, src/profile.c]

InlayHints:
  Enabled: No

---

# TEMP: disable eep/riscv folders
If:
  PathMatch: eep.*
Index:
  Background: Skip
