# TEMP: disable eep/riscv folders
If:
  PathMatch: eep.*
Index:
  Background: Skip

---

If:
  PathMatch: riscv.*
Index:
  Background: Skip

---

If:
  PathMatch: tests.*
Index:
  Background: Skip

---

# Flags for .h files
If:
  PathMatch: .*\.h

CompileFlags:
  Add: [-xc-header]

---

# Flags for .c files
If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-xc]
