# clangd
.cache/

.tmp/

build*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.obj
*.o
*.out

*.gv
*.png

# allow gv/png files within docs, as they may be embedded in markdown
!docs/**/*.gv
!docs/**/*.png
