name: macOS x86_64 CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Install prerequisites
        run: brew install coreutils

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: ./jcc.sh ci-test -arch x86_64 -- --log typechk


